#root {
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    padding: 1rem;
    background-color: rgb(44, 44, 50);
    display: flex;
    align-items: center;
    //justify-content: space-between;

    .logo-and-buttons {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 50px;
        height: 100%;
        align-items: center;
        //justify-content: space-between;

        .name {
            left: 10px;
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
        }

        .insert-value {
            display: flex;
            align-items: center;
            gap: 15px;
            //margin-left: -100px;

            // button {
            //     margin-right: 30px;
            // }
        }
        .functionButtons {
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
        }
        .specialButtonContener {
            margin-left: auto !important;
            height: 100%;

            .optionsButton{
                display: flex;
                min-height: 100%;
            }
        }
    }
}

input:hover {
    border-color: #646cff;
}

.node__leaf > circle {
    display: none;
    fill: none;
    r: 0;
}

.link__to-leaf {
    stroke: none;
    display: none;
}

.rd3t-node {
    fill: rgb(236, 230, 230) !important;
}
.rd3t-link {
    stroke: rgb(236, 230, 230) !important;
}
.path {
    stroke: rgb(227, 61, 61) !important;
    transition: stroke 0.5s ease-in;
    animation: changeWidth 0.8s ease forwards;
}

@keyframes changeWidth {
    0% {
        stroke-width: 1;
    }
    50% {
        stroke-width: 1.25;
    }
    100% {
        stroke-width: 3;
    }
}

.rd3t-label__title {
    fill: rgb(236, 230, 230) !important;
}

.shake {
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);

}

.shakeAgain {
    animation: shakeAgain 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}
.searchedValue {
    animation: changeRadius 1s ease forwards;
}

@keyframes changeRadius {
    0% {
        r: 15;
    }
    100% {
        r: 25;
    }
}
.pointsOnPath {
    animation: changeRadiusPointsOnPath 0.8s ease forwards;
}

@keyframes changeRadiusPointsOnPath {
    0% {
        r: 15;
    }
    100% {
        r: 20;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate(-1px, 0);
    }

    20%,
    80% {
        transform: translate(2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate(-4px, 0);
    }

    40%,
    60% {
        transform: translate(4px, 0);
    }
}

@keyframes shakeAgain {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media (max-width: 1200px) {
    .navbar {
        font-size: 0.9em !important;

        .logo-and-buttons {
            gap: 20px;

            .name {
                left: 10px;
                font-size: 1.3rem;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 1040px) {
    .navbar {
        font-size: 0.8em !important;
        padding: 0.8rem;


        .logo-and-buttons {
            justify-content: start !important;
            gap: 15px;

            .name {
                max-width: 100px;
                font-size: 1.2em !important;
                line-height: 18px;
                text-align: left;
            }
        }
        
    }
    button {
        border: 1px solid red;
        padding: 0.6em 0.7em !important;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 0.7rem;

        .logo-and-buttons {
            gap:30px;
            justify-content: center !important;
            .name {
                max-width: none;
                font-size: 1.5em !important;
                line-height: 18px;
                text-align: left;
            }
        }
    }
}

@media (max-width: 485px) {
    .navbar {
        .logo-and-buttons {
            row-gap:20px !important;
            justify-content: center !important;

            .name {
                width: 100%;
                text-align: center;
            }
        }
    }
}
